<h1 class="animated fadeIn"> {{product}} <small>Cantidad</small></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="" class="img-fluid" [alt]="">
        <br><br>
        <a [routerLink]="['']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>pancito</h3>
        <hr>
        <p>
            contiene tal tal
        </p>
        <div>
            <img class="img-logo" src="" alt="">
            <img class="img-logo" src="" alt="">
        </div>
    </div>
</div>